*{
	font-family: helvetica, arial, sans-serif;
}
body{
	background:url(kacheln_600.jpg);
	font-size:1.3em;
}

#boxmain{
	width:900px;
	margin: 210px auto 0 auto;
}
h2 small{
	display:block;
}
h2{
	margin-top:0;
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
li{
	margin:8px 0;
}
#boxcenter{
	text-align:center;
}
#boxleft, #boxright{
	width:450px;
	height:260px;
}

#boxleft{float:left;o}
#boxright{float:right;text-align:right}

#boxleft>div.img,
#boxright>div.img{
	float:left;
	width:250px;
	height:250px;
	background:url(../neu3no.jpg);
	border:1px solid #a40;
	box-shadow:0 0 8px #930;
}
#boxleft>div.img{
	margin-right:12px;
}
#boxright>div.img{
	margin-left:12px;
	float:right;
	background:url(../neubauer.jpg);
}

.img>*{
	visibility:hidden;
}
a{
	text-decoration:none;
	color:black;
}
#radio{
	text-align:center;
}
#radio h4{
	margin:32px 0 8px 0;
}
#radio audio{
	display:block;
	margin:auto;
}
#radio span{
	font-size:0.6em;
}